<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FingerprintRegnition.Properties.Settings.QL_FingerScanConnectionString"
            connectionString="Data Source=DESKTOP-HA8A5JN\SQLEXPRESS;Initial Catalog=QL_FingerScan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>